.element-container {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition-duration: 0.2s;
}

.header {
    background-color: #edede9;
    height: 5%;
    width: 100%;
    position: absolute;
}

body {
    padding: 0;
    margin: 0;
}

.options-menu {
    position: absolute;
    flex-wrap: wrap;
    gap: 4px;
    align-content: flex-start;
    justify-content: center;
    border-radius: 0px 0.5rem 0.5rem 0;
    overflow: overlay;
    align-items: center;
    width: 5%;
    height: 95%;
    top: 5%;
}
.dashboard 
{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 95%;
    width: 95%;
    background: black;
}

.option {
    height: 3.5rem;
    width: 98%;
    justify-self: center;
    margin: 0.1rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition-duration: 0.4s;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.options-menu:hover {
    transition-duration: 1s;
    width: 15%;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

    .options-menu:hover .option {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        z-index: 99999999999999999;
    }



.visibility {
    content-visibility: hidden;
    font-display: block;
}

.options-menu:hover .visibility {
    content-visibility: visible;
    white-space: nowrap;
    text-align: center !important;
}

.material-icons {
    font-size: 35px;
}

.impact-label {
    font-family: Impact, sans-serif;
    font-size: 100px;
    color: black;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#total {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.totalSells {
    padding: 10px;
    border-radius: 1rem;
    background: #e0e1dd;
    box-shadow: 20px 20px 60px #bebfbc, -20px -20px 60px #fffffe;
}
