.element-container {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 0.2fr repeat(5, 1fr);
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    transition-duration: 0.2s;
}

.header {
    background-color: #edede9;
    grid-column: 1/7;
}

body {
    background-color: #CDE8E5 !important;
    padding: 0;
    margin: 0;
}

.options-menu {
    grid-row: 2 / 8;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-content: flex-start;
    justify-content: center;
    padding-top: 6px;
    border-radius: 0px 0.5rem 0.5rem 0;
    overflow: overlay;
    align-items: center; 
}
.dashboard {
    background-color: #e0e1dd;
    grid-column: 2/7;
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.option {
    height: 3.5rem;
    width: 80%;
    justify-self: center;
    margin: 0.1rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition-duration: 0.4s;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.options-menu:hover {
    transition-duration: 10s;
}

    .options-menu:hover .option {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }



.visibility {
    content-visibility: hidden;
    font-display: block;
}

.options-menu:hover .visibility {
    content-visibility: visible;
    white-space: nowrap;
    text-align: center !important;
}

.material-icons {
    font-size: 35px;
}

.impact-label {
    font-family: Impact, sans-serif;
    font-size: 100px;
    color: black;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#total {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.totalSells {
    padding: 10px;
    border-radius: 1rem;
    background: #e0e1dd;
    box-shadow: 20px 20px 60px #bebfbc, -20px -20px 60px #fffffe;
}
