@model CIPER_PAPEL.Class.UserListViewModel
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/PanelStyle.css" rel="stylesheet"/>

<div class="body-color-back container d-flex flex-wrap flex-row gap-1 ">
</div>
<div class="element-container">
    <header class="header"></header>
    <div class="options-menu" id="options-menu">
        @{
        if (Model.Paneles != null)
        {
            for (int i = 0; i < Model.Paneles.Count(); i++){
                <div class="option">
                    <i class="material-icons">@Model.Paneles[i].Icon</i>
                    <span class="visibility" >@Model.Paneles[i].Descripcion</span>
                </div>
            }
        }
        }
    </div>
    <div class="dashboard"></div>
</div>
<script src="~/js/site.js"></script>