@model CIPER_PAPEL.Class.UserListViewModel

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/PanelStyle.css" rel="stylesheet"/>

<div class="body-color-back container d-flex flex-wrap flex-row gap-1 ">
</div>
<div class="element-container">
    <header class="header"></header>
    <div class="options-menu" id="options-menu">
        @{
        if (Model.Paneles != null)
        {
            for (int i = 0; i < Model.Paneles.Count(); i++){
                <div class="option">
                    <i class="material-icons">@Model.Paneles[i].Icon</i>
                    <span class="visibility" >@Model.Paneles[i].Descripcion</span>
                </div>
            }
        }
        }
    </div>
    <div class="dashboard">
        <div id="total" class="impact-label">
            Este es un label con la fuente Impact y familia genérica sans-serif.
        </div>
    </div>
</div>

<!-- Scripts al final del archivo -->
<script src="~/js/signalR.js"></script>
<script src="~/js/rxjs.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/hub.js"></script>
